.landing-container {
  padding: 5% 0;
  p {
    font-size: 1.7em;
  }
}

.how-it-works-wrapper,
.why-useful-wrapper {
  margin-bottom: 5%;
}

h1 {
  display: inline-block;
  margin-bottom: 3%;
}

h1:after {
  content: "";
  display: block;
  width: 50%;
  padding-top: 10px;
  border-bottom: 2px solid #000;
}

.how-it-works-sec {
  margin-top: 5%;
  .text-wrapper {
    display: flex;
    align-items: center;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .landing-container p {
    font-size: 1.5em;
  }
}
